body{
    margin: 0 auto;
    max-width: 50 em;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	line-height: 1.5;
	padding: 4em,1em;
	color: 555ï¼›
	
}
h2{
	margin-top: 1em;
	padding-top: 1em;
}
