<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="js/script.js"></script>
<title>HomePage</title>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-warning navbar-dark">
  <ul class="navbar">
    <li class="nav-item"> <a href="index.html" class="nav-link">Home Page</a> </li>
    <li class="nav-item"> <a href="1.1.html" class="nav-link">Insporation</a> </li>
    <li class="nav-item"> <a href="1.2.html" class="nav-link">Page Two</a> </li>
  </ul>
</nav>
<div class="container">
  <div class="row">
    <div class="col-6"><a href="1.1.html">Checkpoint 1 INSPIRATION</a> <br>
      This inspiration page will show some website with good design or element</div>
    <div class="col-4"><img width="100%" src="https://raw.githubusercontent.com/jiqi963/Web3-Homepage/master/img/background.jpg" alt="image"></div>
  </div>
	<div class="row">
	<div class="col-4">
		<button id="showdate">Click to show time and date</button>
		</div>
		<div class="col-6"><p id="Demo"></p></div>
	</div>
</div>
</body>
</html>