{% entends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-6"><a href="1.1.html">Checkpoint 1 INSPIRATION</a> <br>
      This inspiration page will show some website with good design or element</div>
    <div class="col-4"><img width="100%" src="https://raw.githubusercontent.com/jiqi963/Web3-Homepage/master/img/background.jpg" alt="image"></div>
  </div>
	<div class="row">
	<div class="col-4">
		<button id="showdate">Click to show time and date</button>
		</div>
		<div class="col-6"><p id="Demo"></p></div>
	</div>
</div>
{%  endblock %}